NEXT_PUBLIC_SUPABASE_URL=https://jicbpiysnoldbrobuccq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_47bcypkzIgzy8Ot2CVklww_49EERJ2x
RESEND_API_KEY=re_VcNPeHQt_3fa8KwBmPozXJMdRNTzMdwEy
ADMIN_EMAIL=strikerunclub@gmail.com
